__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Virtual envs
.venv/
venv/
.env
pytestdebug.log

.pytest_cache/
.ruff_cache/
test-results/
playwright-report/
playwright-traces/
videos/
screenshots/
